{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="show">
<h1>
{% if editMode %}
    Modification d'un employé
{% else %}
    Ajout d'un employé
{% endif %}
</h1>

<div class="form">

{# <a class="text-center h2" href="{{ path('accueil') }}">Retour table des employés</a> #}
<br>

{{ form_start(formEmployes, {
    attr: {
        novalidate : 'novalidate'
    }
}) }}

<div class="label">
{{ form_label(formEmployes.prenom, 'Prenom')}}
</div>
<div class="champ">
{{ form_widget(formEmployes.prenom, {
    attr: {
        placeholder: "Saisissez le prenom"
        }
}) }}
</div>

<div class="label">
{{ form_label(formEmployes.nom, 'Nom')}}
</div>
<div class="champ">
{{ form_widget(formEmployes.nom, {
    attr: {
        placeholder: "Saisissez le nom"
        }
}) }}
</div>

{# {{ form_row(formEmployes.telephone, {
    label: "Téléphone",
    attr: {
        placeholder: "Saisissez le téléphone"
    }
}) }} #}

<div class="label">
{{ form_label(formEmployes.telephone, 'Téléphone')}}
{# <div class="error">
{{ form_errors(formEmployes.telephone)}}
</div> #}
</div>
<div class="champ">
{{ form_widget(formEmployes.telephone, {
    attr: {
        placeholder: "Téléphone de l'employé"
        }
}) }}
</div>

<div class="help">{{ formEmployes.telephone.vars.help  }}</div>


<div class="label">
{{ form_label(formEmployes.email, 'Email')}}
</div>
<div class="champ">
{{ form_widget(formEmployes.email, {
    attr: {
        placeholder: "Saisissez l'email"
        }
}) }}
</div>

<div class="label">
{{ form_label(formEmployes.adresse, 'Adresse')}}
</div>
<div class="champ">
{{ form_widget(formEmployes.adresse, {
    attr: {
        placeholder: "Saisissez l'adresse"
        }
}) }}
</div>

<div class="label">
{{ form_label(formEmployes.poste, 'Poste')}}
</div>
<div class="champ">
{{ form_widget(formEmployes.poste, {
    attr: {
        placeholder: "Saisissez le poste"
        }
}) }}
</div>

<div class="label">
{{ form_label(formEmployes.salaire, 'Salaire (€)')}}
</div>
<div class="champ">
{{ form_widget(formEmployes.salaire, {
    attr: {
        placeholder: "Saisissez le salaire"
        }
}) }}
</div>
<div class="help">{{ formEmployes.salaire.vars.help  }}</div>

<div class="date">
{{ form_row(formEmployes.datedenaissance, {
    label: "Date de naissance",
}) }}
</div>

{# <button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
    Modifier ce compte
{% else %}
    Créer ce compte
{% endif %}
</button> #}



</div>

<br>
<button type="submit" class="button">
			{% if editMode %}
				Modifier
			{% else %}
				Ajouter
			{% endif %}
</button>

{{ form_end(formEmployes) }}

<a href="{{ path('accueil') }}" class="button">Annuler</a><br><br>

</div>
{% endblock %}